.container {
  
}

body {
  background: #fff;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 100%;
  padding: 20px;
  background: #fff;
  
}

section h1 {
  font-size: 200%;
}

footer {
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}
footer nav {
  float: none;
}
/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
  
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Project Red Breast */

slogan {
 float: right;
}
weather {
 float: left;
}
.wimage {
 float: left;
}

.wrapper {
width:750px;
margin:0 auto;
}
.upper {
clear: both;
}
.lower {
clear: both;
}
.videos {
float: left;
width:350px;
height:250px;
margin:5px;
border-style:solid;
border-width:5px;
}
.pictures {
float:left;
width:350px;
height:250px;
margin:5px;
border-style:solid;
border-width:5px;
}
.words {
float: left;
width:350px;
height:250px;
margin:5px;
border-style:solid;
border-width:5px;
}
.sounds {
float: left;
width:350px;
height:250px;
margin:5px;
border-style:solid;
border-width:5px;
}
.arrows {
width: 100%;
clear: both;
/* not sure how to sit this on the bottom */
bottom: 0px;
}
.left_arrow {
float: left;
font-size: 200%;

}
.right_arrow {
float: right;
font-size: 200%;

}
.arrow_tag {
/*text-align: center not working?*/
text-align: center;
margin:80px;
}
 .yt_item {
text-align: center;
margin:5px;
}

.warbler_twit {
float: right;
width: 35%;
height: 60%;
margin:5px;
border-style:solid;
border-width:2px;

}
ul.feed {
font-size: 70%;
}

.feed li {

padding: 15px;
}

.sound_item {
border-style:solid;
border-width:2px;
width:90%;
height: 35%;
margin: 15px;
border-style:solid;
border-width:2px;

}

/* weather */
.wlocal{}
.wconditions{}
.wdate{}
