.container {
  
}

body
{
  ;
  background: url(../images/rich-bg-2.jpg);
  background-size: 100%;
}


header {
  padding-top: 20px;
  
}

header img {
  padding: 1em;
  
}

section {
  margin-top: 1em;
  font-size: 100%;
  padding: 20px;

  
}

section h1 {
  font-size: 200%;
}

footer {
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}
footer nav {
  float: none;
}
/* Links */

a:link {
font-weight: bold;
text-decoration: none;
color: #A7A7A7;
}
a:visited {
font-weight:bold;
text-decoration: none;
color: #A7A7A7;
}
a:hover, a:active {
text-decoration: none;
color: Black;
background-color: #B0B0B0;
}
a.image-border {
	text-decoration: none;
	border: 0 none;
	}
/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
  
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Project Red Breast */

slogan {
 float: right;
}
weather {
 float: left;
}
.wimage {
 float: left;
}

.wrapper {
width:750px;
margin:0 auto;
}
.upper {
clear: both;
}
.lower {
clear: both;
}
.inner_box {
float: left;
width:350px;
height:250px;
margin:5px;


-background-color:#ffffff;
border-width:2px;
border-color:#090909;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
/*IE DOES NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow:0px 0px 20px #000000;
-webkit-box-shadow:0px 0px 20px #000000;
box-shadow:0px 0px 20px #000000;
/*IE DOES NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
background-image: -moz-linear-gradient(top, #ff180d, #010000);
background-image: -webkit-gradient(linear, center top, center bottom, from(#ff180d), to(#010000));
background-image: -o-linear-gradient(top, #ff180d, #010000);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff180d', endColorstr='#010000');
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff180d', endColorstr='#010000')";
/*Element must have a height (not auto)*/
/*All filters must be placed together*/
background-image: linear-gradient(top, #ff180d, #010000);
-moz-background-clip: padding-box;
-webkit-background-clip: padding-box;
background-clip: padding-box;
/*Use "background-clip: padding-box" when using rounded corners to avoid the gradient bleeding through the corners*/
/*--IE9 WILL PLACE THE FILTER ON TOP OF THE ROUNDED CORNERS--*/
opacity:0.86;
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=86);
/*-ms-filter must come before filter*/
filter: alpha(opacity=86);
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*All filters must be placed together*/



border-width:1px;
}

.picwrapper{
margin: 0 auto;
margin-top: 5px;
width: 300px;
}
.picupper{
clear: both;
}
.piclower{
clear: both;
}
.picinner{
float: left;
width:75px;
height:75px;
margin:0px;

background-color:#ffffff;
}
.upleft{
float: left;
width:75px;
height:75px;
margin:0px;

background-color:#ffffff;
}
.upright{
float: left;
width:75px;
height:75px;
margin:0px;

background-color:#ffffff;

}
.lowleft{
float: left;
width:75px;
height:75px;
margin:0px;

background-color:#ffffff;

}
.lowright{
float: left;
width:75px;
height:75px;
margin:0px;

background-color:#ffffff;

}

.arrows {
width: 100%;
clear: both;
text-align: center;
/* not sure how to sit this on the bottom */
bottom: 0px;
}
.left_arrow {
float: left;
font-size: 70%;

}
.right_arrow {
float: right;
font-size: 70%;

}
.arrow_tag {

margin-left: auto;
margin-right: auto;
font-size: 70%;
}
 .yt_item {
text-align: center;
margin:5px;
}

.warbler_twit {
float: right;
width: 35%;
height: 60%;
margin:5px;
border-style:solid;
border-width:2px;

}
ul.feed {
font-size: 70%;
}

.feed li {

padding: 15px;
}

.sound_item {
border-style:solid;
border-width:2px;
width:90%;
height: 35%;
margin: 15px;
border-style:solid;
border-width:2px;

}

/* weather */
.wlocal{}
.wconditions{}
.wdate{}

