<div class="picwrapper">
<div class="picupper">
	<div class="upleft">
      
    </div>
    <div class = "upright">
      
    </div>
</div>

<div class="piclower">
    <div class="lowleft">
      
    </div>
    <div class="lowright">
      
    </div>
</div>
</div>
