  <div class="warbler_twit">
    <ul>
      <li>
        POOP POOP POOP POOP POOP 
      </li>
    </ul>
  </div>
  <ul class="feed" summary="twitter test">
     <%= render :partial => 'shared/twitter_item', :collection => @twitter_items %>
  </ul>
<%= render 'shared/arrows' %> 

