<tr>
  <td class="twitter_thumbnail">
    
      <img src="<%= twitter_item.profile_image_url %>" />
  </td>  
  <td>
  <h3><%= twitter_item.from_user %></h3>
  
    <%= twitter_item.text %>
  </td>

</tr>
