
  <li class="feed_item">
    
      <img style="float:left;" src="<%= twitter_item.profile_image_url %>" />

  <h4><%= twitter_item.from_user %></h4>
  
    <%= twitter_item.description %>
  </li>


