<tr>
  <td class="twitter_thumbnail">
    
      <img style="float:left;" src="<%= twitter_item.profile_image_url %>" />
  </td>  
  <td>
  <b><%= twitter_item.from_user %></b>
  
    <%= twitter_item.description %>
  </td>

</tr>
