
<img id="wimage" class='wimage' src="images/sun.png"/>
<span id="wlocal" class='wlocal'>
<%= @weather_items.location['city'] %>&nbsp;:
</span>
<span id="wconditions" class='wconditions'>
<%= @weather_items.condition['temp'] %>
</span>
<span class="wdeg">
 °F 
 </span>
