<% unless @yt_items.nil? %>
	<div class="yt_item">

	<iframe height="220" src="http://www.youtube.com/embed/<%= @yt_items.vid %>" frameborder="0" allowfullscreen></iframe>
	
	
	</div>
    

<% end %>

<%= render :partial => 'shared/arrows', :locals => { 
		
		:kee => @curkeyword.keyword, 
		:table_id => @curkeyword.id.to_s } %>
