
  <li class="feed_item">
   <a href="<%= yt_item.player_url %>" target="_blank">
      <img style="float:left;" src="<%= yt_item.thumbnail_url %>" />
    </a>
    
    <h4><%= yt_item.title %></h4>
      
  </li>

