  <weather id="weather" class="content">
    <%=  render 'shared/weather' %>
  </weather>
<h1><%= @title %></h1>
<div class="wrapper">
	<div id = "videos" class="inner_box content">
      <%= render 'shared/yt' %>
    </div>
	
</div>
