<h1>Project Red Breast</h1>
<div class="wrapper">
  <div class="upper">
    <div id = "videos" class="inner_box">
      <%= render 'shared/yt' %>
    </div>
    <div id = "pictures" class="inner_box">
      <%= render 'shared/flickr' %>
    </div>
  </div>

  <div class="lower">
    <div id ="words" class="inner_box">
      <%= render 'shared/twitter_widget' %>
    </div>
    <div id="sounds" class="inner_box">
      <%= render 'shared/sound' %>
    </div>
  </div>
</div>
