<h1>Project Red Breast</h1>
<div class="wrapper">
  <div class="upper">
    <div id = "videos" class="videos">
      <%= render 'shared/yt' %>
    </div>
    <div id = "pictures" class="pictures">
      <%= render 'shared/flickr' %>
    </div>
  </div>

  <div class="lower">
    <div class="words">
      <%= render 'shared/twitter' %>
    </div>
    <div id="sounds" class="sounds">
      <%= render 'shared/sound' %>
    </div>
  </div>
</div>
